workflows/Simple-Conversation-Test.json
{
  "name": "Simple-Conversation-Test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        380,
        -320
      ],
      "id": "8504a838-61a5-4648-8ec1-c1a77e8f16bf",
      "name": "When chat message received",
      "webhookId": "a1270cac-9686-4d98-8e40-d0fda15fbd7d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User prompt: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=#Role\nYou are an expert at handling and advising users with their government documents.\n\n#Behavior\nYou should assist the user with any question they have with their documents. Keep responses to 1-2 short sentences do not exceed this amount to save tokens.\n\n#Tools\nYou are given the user's documents as text use that and assist them.\n\n##Call n8n workflow tool\nOnly use this tool once and read the document given to assist the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        -120
      ],
      "id": "0e59c455-5399-4a7b-8f7a-713392184107",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        140
      ],
      "id": "087b659a-0c3f-4b75-af7b-8c205539b21e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GWUIKuj4E1HrklGh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -740,
        -140
      ],
      "id": "4954f488-45d0-44d9-ac4e-3eaef4cf6ff7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        960,
        140
      ],
      "id": "b7f95357-bb43-4ea6-8035-02bedec80c74",
      "name": "Calculator"
    },
    {
      "parameters": {
        "fileSelector": "D:/GitHub/Document_Parser/example/test.m4a",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -500,
        -140
      ],
      "id": "29beceeb-0852-4849-a2a7-844308589a50",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -280,
        -140
      ],
      "id": "3189501a-8767-46a6-bb18-b92afdf599fc",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "GWUIKuj4E1HrklGh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        140
      ],
      "id": "698423d5-0ed7-4b41-947a-e15500f6850d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool only when loading the user's document.",
        "workflowId": {
          "__rl": true,
          "value": "tr2dNyZXhZejac4W",
          "mode": "list",
          "cachedResultName": "Load-Document-Nodes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1120,
        140
      ],
      "id": "abe2bcc8-72b0-4ec3-974b-4b80eb8e640a",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "content": "## Data Note\nLLM gets data from local file for now to use as user document. Using this document user can ask quesitons on how to fill it."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        120
      ],
      "typeVersion": 1,
      "id": "be48b9e4-7e6f-48ef-834c-49df3c6e6669",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Initial Voice Transcription\nUsed pre recoreded voice transcription to pass into LLM for conversation. Need to have real time voice conversation."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        -320
      ],
      "typeVersion": 1,
      "id": "70a078d2-4182-49e5-a9dc-beff5ccd2b99",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Future Note\n**Need to make front end input for Speech To Text.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -440,
        -320
      ],
      "typeVersion": 1,
      "id": "4ca408b9-2aae-4466-a33b-2f706a1afdc6",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Transcribe a recording": [
      {
        "json": {
          "chatInput": "Can you tell me what this document that I uploaded is, and can you tell me what I can do with it?",
          "sessionId": "3d555d6f478a43f8949491171b38d08e",
          "usage": {
            "type": "duration",
            "seconds": 6
          }
        }
      }
    ]
  },
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83815ae6-1191-4b2d-85d6-6b9461dda03c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b7888eec1ec6de9e04cf6635e0f4e3d148f28c6c65a4151d8320e874dedfc4b"
  },
  "id": "eflV5Jz3NUQQhAgn",
  "tags": []
}