workflows/Simple-Conversation-Test.json
{
  "name": "Simple-Conversation-Test",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=User prompt: {{ $json.chatInput }}",
        "options": {
          "systemMessage": "=#Role\nYou are a conversational chat bot that is an expert at using your external tools to answer the user's qeustions.\n\n#Behavior\nYou should assist the user with any question they have with their daily tasks. You are to be as helpful as you can, while giving the most welcoming replies to the user.\n\n#Response\nYour response should be in a welcoming tone that answers the user's questions accurately. Leverage your external tools to increase the accuracy of your responses.\n\n#Tools\nYou are given a calculator, weather api, and date and time api to learn the current environment.\n\n##calculator\nOnly use this tool if arithmetic is involved to help you answer basic math questions.\n\n##date and time\nOnly use this if the user asks for a specific time or if the user asks what time it is right now.\n\n##weatherApi\nOnly use this when the user asks for the current weather conditions. Reply only with minimal information such as temperature and if it will be rainy, sunny, cloudy, etc."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        900,
        -80
      ],
      "id": "0e59c455-5399-4a7b-8f7a-713392184107",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        180
      ],
      "id": "087b659a-0c3f-4b75-af7b-8c205539b21e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GWUIKuj4E1HrklGh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        340,
        -560
      ],
      "id": "4954f488-45d0-44d9-ac4e-3eaef4cf6ff7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        980,
        180
      ],
      "id": "b7f95357-bb43-4ea6-8035-02bedec80c74",
      "name": "Calculator"
    },
    {
      "parameters": {
        "fileSelector": "D:/GitHub/Document_Parser/example/test.m4a",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        580,
        -560
      ],
      "id": "29beceeb-0852-4849-a2a7-844308589a50",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        800,
        -560
      ],
      "id": "3189501a-8767-46a6-bb18-b92afdf599fc",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "GWUIKuj4E1HrklGh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        860,
        180
      ],
      "id": "698423d5-0ed7-4b41-947a-e15500f6850d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool only when loading the user's document.",
        "workflowId": {
          "__rl": true,
          "value": "tr2dNyZXhZejac4W",
          "mode": "list",
          "cachedResultName": "Load-Document-Nodes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1100,
        -540
      ],
      "id": "abe2bcc8-72b0-4ec3-974b-4b80eb8e640a",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "content": "## Data Note\nLLM gets data from local file for now to use as user document. Using this document user can ask quesitons on how to fill it."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1020,
        -740
      ],
      "typeVersion": 1,
      "id": "be48b9e4-7e6f-48ef-834c-49df3c6e6669",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Initial Voice Transcription\nUsed pre recoreded voice transcription to pass into LLM for conversation. Need to have real time voice conversation."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        340,
        -740
      ],
      "typeVersion": 1,
      "id": "70a078d2-4182-49e5-a9dc-beff5ccd2b99",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Future Note\n**Need to make front end input for Speech To Text.**"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -740
      ],
      "typeVersion": 1,
      "id": "4ca408b9-2aae-4466-a33b-2f706a1afdc6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fc6b4687-9b17-4ad6-a150-b285a4551458",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        -60
      ],
      "id": "8570df84-80e7-44eb-a59e-7fdf6cc539c1",
      "name": "Webhook",
      "webhookId": "fc6b4687-9b17-4ad6-a150-b285a4551458"
    },
    {
      "parameters": {
        "content": "## Get data from html front end\n**isVoice** - then need to transcribe voice to text then pass.\n**isText** - no need to transcribe just need to pass text into llm workflow.",
        "height": 200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        -280
      ],
      "typeVersion": 1,
      "id": "651e0869-2cb7-48ae-89e5-763454da9356",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        460,
        20
      ],
      "id": "32c70720-76bc-49f6-876c-a435dd6cb34b",
      "name": "Transcribe a recording1",
      "credentials": {
        "openAiApi": {
          "id": "GWUIKuj4E1HrklGh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Transcribe note\nmight need extra steps when getting audio file when transcribing."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        180
      ],
      "typeVersion": 1,
      "id": "5e05ceb2-f474-44d1-b6f5-c29d56259151",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"transcript\": {{ $('Transcribe a recording1').item.json.chatInput }},\n  \"reply\": {{ $json.output }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1420,
        -80
      ],
      "id": "ab6ce63d-cf51-4f1c-96a7-c6c58c88917f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## What to do after\nSend back conversation with LLM into web application to continue conversation there.",
        "height": 120
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -220
      ],
      "typeVersion": 1,
      "id": "6c706ceb-c814-4fbe-b9e7-7c63896b5952",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "579aee59-1981-4f26-9da7-e1979fe891ca",
              "leftValue": "={{ $json.body.prompt }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        200,
        -60
      ],
      "id": "de27dc1b-b2be-4df1-a426-bac1363769ff",
      "name": "If"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the response data for the weather forecast",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&hourly=temperature_2m",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1260,
        180
      ],
      "id": "a896a7b6-e0b5-4ae5-9d24-db89b8566893",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ],
      "id": "fc3c0536-8cc2-4dc1-8c93-c32d49f8078c",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "content": "## What AI Agent does\nGets POST call with transcribed audio to send as prompt to LLM. Uses external tools to then respond to prompt and help user.",
        "height": 140,
        "width": 280
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -240
      ],
      "typeVersion": 1,
      "id": "1fa9009f-5829-4bcf-bf48-d7401e4b4ac9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## OLD NODES\n**CAN IGNORE FOR NOW**\n**HERE FOR DOCUMENTATION**",
        "height": 100
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        -860
      ],
      "typeVersion": 1,
      "id": "d5c4085a-f6d7-4187-a39b-a447e779fa91",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 500,
        "width": 1080,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        -880
      ],
      "typeVersion": 1,
      "id": "b06018fc-90be-46f2-bbdf-6f5dd41fc377",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Chat Workflow",
        "height": 740,
        "width": 1900,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -360
      ],
      "typeVersion": 1,
      "id": "626d5e25-974e-43c7-b104-9ba01521cf69",
      "name": "Sticky Note9"
    }
  ],
  "pinData": {
    "Transcribe a recording": [
      {
        "json": {
          "chatInput": "Can you tell me what this document that I uploaded is, and can you tell me what I can do with it?",
          "sessionId": "3d555d6f478a43f8949491171b38d08e",
          "usage": {
            "type": "duration",
            "seconds": 6
          }
        }
      }
    ],
    "Transcribe a recording1": [
      {
        "json": {
          "chatInput": "Can you tell me what this document that I uploaded is, and can you tell me what I can do with it?",
          "sessionId": "3d555d6f478a43f8949491171b38d08e",
          "usage": {
            "type": "duration",
            "seconds": 6
          }
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcribe a recording1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8e9a32d5-2d4a-4b2b-b8d0-41909ccbad14",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b7888eec1ec6de9e04cf6635e0f4e3d148f28c6c65a4151d8320e874dedfc4b"
  },
  "id": "eflV5Jz3NUQQhAgn",
  "tags": []
}